body{
  margin-left:20%;
  margin-right:25%;
  overflow:auto;
}


ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 705px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color:#D8D8D8;
}

ul.menu>li>a {
  display: inline-block;
  color: #000;
  text-align : center;
  padding: 5px 52px 5px 52px;
  text-decoration : none;
}
ul.menu>li {
  display: inline;
  font-family: arial, sans;
  padding : 3px 12px 3px 0px;
  float:left;

}
ul.menu li ul.sub{
	position: absolute;
    background-color:#D8D8D8;
    width:138px;
}
ul.menu li ul.sub li{
    list-style-type:none;
    background-color:#D8D8D8;
    padding: 10px 0px 10px 0px;
    text-align:left;
}
ul.menu li ul.sub li a{
    text-decoration: none;
} 

ul.menu li a:hover {
  background-color:  #F6F6F6;
  color: white;
}

div.main_logo a img {
    width:430px;
    height:100px;
    display:block;
    margin-top:30%;
    margin-left:30%;

}

iframe {
    display: block;
    margin-left:10%;
    margin-right:10%;
}
ul.menu>li.right-align{
    float:right;
}
ul.menu>li.right-align>a{
   padding : 3px 3px 3px 3px;
}
